body {
    overflow: hidden;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: rgb(164, 126, 126) 5px 1px;
}

#marco {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#fotoDefault {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (orientation:landscape) {
    #marco {
        max-width: 1200px;
        max-height: 800px;
        width: 60vw;
        height: 70vh;
        margin: auto;
        background-color: rgb(5, 64, 64);
    }
}

@media screen and (orientation:portrait) {
    #marco {
        max-width: 600px;
        max-height: 900px;
        width: 70vw;
        height: 60vh;
        margin: auto;
        background-color: cyan;
    }
}

